
html
{
  height: 100vh;

}

body {
  margin-top: 50px;
  background: url("../back_image3.jpg") no-repeat center -100px, linear-gradient(294deg, #21D4FD 0%, #B721FF 80%);
  background-size:cover;
  background-blend-mode: multiply;
  color: #fff;
}
.col-xs-10 {
  border-radius: 6px;
  padding-bottom: 1em;
  background: rgba(255,0,255,0.3);
  -webkit-box-shadow: 0px 55px 88px 9px rgba(0,0,0,0.38);
  -moz-box-shadow: 0px 55px 88px 9px rgba(0,0,0,0.38);
  box-shadow: 0px 55px 88px 9px rgba(0,0,0,0.38);

}


div.checkbox-inline {
  margin-bottom: 10px;
}
.checkbox-inline+.checkbox-inline, .radio-inline+.radio-inline {
  margin-top: 10px;
}
input, .drop{
  cursor: pointer;
}
